In [1]:
import pandas as pd
from math import log

In [2]:
docs = ["먹고 싶은 사과" , '먹고 싶은 바나나', '길고 노란 바나나 바나나', '저는 과일이 좋아요']
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [3]:
N = len(docs) # 총 문서의 수

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [4]:
result = []
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

In [5]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

          IDF
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do'
]
vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray())
print(vector.vocabulary_)

[[0 1 0 1 0 1 0 1 1]
 [0 0 1 0 0 0 0 1 0]
 [1 0 0 0 1 0 1 0 0]]
{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'There is data that you often use to practice text classification in machine learning.',
    'This is review data from IMDB, a movie site.',
    'This data consists of text for a review.'
]
tfidfv = TfidfVectorizer(stop_words='english').fit(corpus)
pd.DataFrame(data=tfidfv.transform(corpus).toarray(),columns=sorted(tfidfv.vocabulary_))

,classification,consists,data,imdb,learning,machine,movie,practice,review,site,text,use
0,0.410747,0.000000,0.242594,0.000000,0.410747,0.410747,0.000000,0.410747,0.000000,0.000000,0.312384,0.410747
1,0.000000,0.000000,0.298032,0.504611,0.000000,0.000000,0.504611,0.000000,0.383770,0.504611,0.000000,0.000000
2,0.000000,0.631745,0.373119,0.000000,0.000000,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.000000